*   {       /* Para toda la web */
    font-family: monospace;
}
body    {
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    margin: 0;      /* Esto hace que el background color salga de su box */
    padding: 0;     /* Esto hace que el background color salga de su box */
}

/*
# para ID
. para Clases
*/

caption {   /* Columna de tabla */
    background-color: goldenrod;  
}
.center {
    text-align: center;
}


                    /* Header */


header  {
    position: fixed;    /* fija la posicion de la cabecera */
    width: 100%;
    height: 140px;
}
    #divcabecera    {
        background-color: rgb(112, 240, 240);
        background-size: contain;
        position: relative;
        top: -17px;
        height: 80px;
    }
        #logo   {
            position: relative;
            top: -45px;
            left: 5px;
            width: 70px;
            height: 70px;
        }

    .nav    {
        position: relative;
        bottom: 75px;
        background-color: rgb(60, 77, 107);
    }

        .boton  {
            width: 100px;
            height: 30px;
            background-color: rgb(49, 49, 88);
            color: white;
}

#configuracion  {
    position: relative;
    left: 1200px;
    bottom: 50px;
    width: 50px;
    height: 50px;
}
    .bconfiguracion {
        position: relative;
        bottom: 40px;
        background-color: transparent;
        border: none;
        outline: none;
        text-align: right;
}


                    /* main */


#idea   {
    width: 50%;
    height: 50%;
}


                    /* footer */


footer  {
    background-color: rgb(225, 72, 72);
}
#logoyoutube    {
    width: 50px;
    height: 50px;
}
#logogithub {
    width: 50px;
    height: 50px;
}