*   {       /* Para toda la web */
    font-family: monospace;
}
body    {
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    margin: 0;      /* Esto hace que el background color salga de su box */
    padding: 0;     /* Esto hace que el background color salga de su box */
}

/*
# para ID
. para Clases
*/
caption {   /* Columna de tabla */
    background-color: goldenrod;  
}
.center {
    text-align: center;
}

                    /* Header */
header  {
    position: fixed;    /* fija la posicion de la cabecera */
    width: 100%;
    background-color: rgb(112, 240, 240);
}
#divcabecera    {
    position: relative;
    height: 75px;
}

.nav    {
    text-align: center;
    background-color: gray;
}

.boton  {
    width: 100px;
    height: 30px;
}

#logo   {
    position: relative;
    top: -50px;
    width: 70px;
    height: 70px;
}

#configuracion  {
    position: relative;
    left: 1050px;
    bottom: 50px;
    width: 70px;
    height: 70px;
}
.bconfiguracion {
    background-color: transparent;
    border: none;
    outline: none;


}
                    /* main */
#idea   {
    width: 50%;
    height: 50%;
}

                    /* footer */
footer  {
    background-color: rgb(112, 240, 240);
}
#logoyoutube    {
    width: 50px;
    height: 50px;
}
#logogithub {
    width: 50px;
    height: 50px;
}